<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis는 namespace의 값인 com.lgup.openapi.rest.persistence.SampleMapper 인터페이스를 매퍼로 연결한다. -->
<mapper namespace="com.lgup.openapi.sample.persistence.SampleMapper">

    <select id="findById" resultType="Sample"><![CDATA[
        SELECT seq, name, age
        FROM TBL_WONY_SAMPLE ]]>
    </select>
    
    <insert id="insertSample" parameterType="Sample">
        <selectKey keyProperty="seq" resultType="int" order="BEFORE"><![CDATA[
         SELECT WONY_SAMPLE_SEQ.NEXTVAL AS seq
         FROM DUAL ]]>
        </selectKey><![CDATA[
        INSERT 
        INTO TBL_WONY_SAMPLE (seq,
                              name,
                              age) VALUES (#{seq},
                                           #{name},
                                           #{age}) ]]>
    </insert>

</mapper>